body {
  background-color:bisque;
  padding-left: 20%;
  padding-right: 20%;
}
h5 {
  color: blue;
}
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.text-center {
  text-align: center;
}

.blue-color {
    color: rgb(0, 119, 255);
}

.container {
  background-color:aqua;
  height: 400px;
  width:100%;
}


.moving-item {
background-color: cadetblue;
height: 50%;
width: 50%;
transition:transform 5s ease-in-out
}

.container:hover .moving-item{
  transform: translate(100%);


}