body {
  background-color: aquamarine;
}

.oras {
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  width: 25%;
  background-color: #4f94f0;
  display: inline-block;
  position: relative;
}

.oras img {
  width: 100%;
  height: 200px;

}

.oras {
  text-align: center;

}

.action-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
}